{% extends 'Contenido/privado.html' %}
{% block contenido %}
<div class="container">
  <form action="{% url 'insertar_usuario' %}" method="POST">
  {% csrf_token %}
    <h2>Ingresar Usuario</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Usuario</label>
          <input type="text" class="form-control" name="usuario">
        </div>
      </div>

      <!--  col-md-6   -->
      <!--  col-md-6   -->
    </div>


    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label >Nombre</label>
          <input type="text" class="form-control" name="nombre" >
        </div>
      </div>
    </div>
    <!--  row   -->


    <div class="row">
      <div class="col-md-6">

        <div class="form-group">
          <label>Apellidos</label>
          <input type="text" class="form-control" name="apellidos" >
        </div>
      </div>

    </div>
    <!--  row   -->
	<div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Contraseña</label>
          <input type="password" class="form-control" name="contrasenia" >
        </div>


      </div>
      <!--  col-md-6   -->
</div>
<div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label >Cargo</label>
          <select id = "cargo" name="cargo" class="form-control">
          <option value="">--Elige un cargo--</option>
          	<option value="3">Profesor</option>
          	<option value="2">Secretaria</option>
          	<option value="1">Administrador</option>
          </select>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Ingresar Usuario</button>
  </form>
</div>
{% endblock %}